data/caso_teste_v5.zip
data/caso_teste_v5/caso_teste_1.txt
data/caso_teste_v5/caso_teste_2.txt
data/caso_teste_v5/caso_teste_4.txt
data/caso_teste_v5/caso_teste_3.txt
saida.txt
caso_teste_4.txt
caso_teste_3.txt
caso_teste_2.txt
caso_teste_1.txt
document.pdf
